/* for screen upto 400px in mobile */

@media screen and (max-width:400px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* adding for header that is profile picture and name */

    .picturename{
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }
    .name{
        margin: 0;
        margin-left: 30px;
    }
    .picture{
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
    .name h1{
        font-size: 5.5vw;
    }
    .name p{
        font-size: 4vw;
    }
    img{
        padding: 0;
        width: 95px;
        height: 120px;
        padding-top: 10px;
        padding-right: 3px;
    }

    /* adding media for body  */


    .fathercontainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 5vw, 5vh;
        border: none;
    }

    /* added for personal details & language */

    .maincontainerone{
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .contacts{
        margin: 0;
        padding: 0;
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
    }

    .subcontainer a, strong{
        width: 100%;
        font-size: 4vw;
    }

    .logo{
        font-size: 3.7vw;
    }
    .details{
        margin: 0;
        margin-left: 8vw;
    }

    .container{
        margin: 0;
        margin-left: 4vw;
    }

    .language{
        margin: 0;
        margin-top: 4vw;
        border-bottom: 1px solid black;
    }

    .lang{
        margin: 0;
        margin-left: 8vw;
    }

    .langgroup{
        margin: 0;
        margin-left: 8vw;
    }


    /* added for profile education qualification and projects */

    .maincontainertwo{
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
    }

    .containerone{
        margin: 0;
    }

    .profile{
        margin: 0;
        border: none;
        border-bottom: 1px solid black;
        padding: 0;
    }

    .profilehead{
        margin: 0;
        margin-top: 4vw;
        margin-left: 8vw;
    }

    .profilecontent{
        margin-left: 5vw;
        text-align: justify;
        padding: 0;
        padding-right: 2vw;
        padding-bottom: 4vw;
    }

    .education{
        margin: 0;
        border: none;
        border-bottom: 1px solid black;
        padding: 0;
        padding-bottom: 4vw;
    }

    .educationhead{
        margin: 0;
        margin-left: 8vw;
    }

    .subcontainerone{
        margin: 0;
        margin-left: 8vw;
    }

    .project{
        margin: 0;
        padding: 0;
        padding-bottom: 4vw;
        border-bottom: 1px solid black;
    }

    .projecthead{
        margin: 0;
        margin-left: 8vw;
    }

    /* added for skills */

    .maincontainerthree{
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }

    hr{
        display: none;
    }

    .containertwo{
        margin: 0;
        padding: 0;
        margin-top: 4vw;
        border-bottom: 1px solid black;
        padding-bottom: 4vw;
        width: 100%;
    }
    
    .skillhead{
        margin: 0;
        padding: 0;
        margin-left: 8vw;
    }

    .programming{
        margin: 0;
        padding: 0;
        margin-left: 8vw;
    }

    .technicalhead{
        margin: 0;
        padding: 0;
        margin-left: 8vw;
    }

    .tech{
        margin: 0;
        padding: 0;
        margin-left: 8vw;
    }
}



/* added fro screens size 400 to 640px */

@media screen and (min-width:400px) and (max-width:640px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* added for header */
    .picturename{
        width: 100%;
        display: flex;
        margin: 0;
        margin-top: 20px;
    }
    .name{
        margin: 0;
        padding: 0;
        width: 60vw;
        margin-left: 20px;
        border-bottom: 1px solid red;
    }
    .name h1{
        font-size: 5vw;
    }
    .name p{
        font-size: 3.2vw;
    }
    .picture{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin-left: 10px;
    }
    img{
        margin: 0;
        padding: 0;
        width: 100px;
        height: 110px;
        padding-top: 11px;
    }
    /* added for body */
    .fathercontainer{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    /* added for personal details and language  */

    .maincontainerone{
        padding: 0;
        margin: 0;
        width: 95.3%;
        border: none;
    }
    .contacts{
        border: none;
        border-bottom: 1px solid black;
        margin: 0;
        margin-left: 4vw;
    }

    .details{
        margin: 0;
        margin-left: 5vw;
    }

    .language{
        margin: 0;
        padding: 0;
        margin-left: 4vw;
        margin-top: 3vw;
         border-bottom: 1px solid black;
    }

    .lang{
        margin: 0;
        margin-left: 5vw;
    }

    .english{
        margin-left: 9vw;
    }

    .bhojpuri{
        margin-left: 9vw;
    }

    .langgroup{
        margin: 0;
        margin-left: 4vw;
    }

    /* added for profile education and project  */

    .maincontainertwo{
        margin: 0;
        padding: 0;
        border: none;
        width: 95.3%;
        margin-top: 3vw;
    }

    .containerone{
        margin: 0;
        margin-left: 6vw;
    }

    .profilecontent{
        border-bottom: 1px solid black;
    }

    .project{
        border-bottom: 1px solid black;
    }
    /* added for skills  */

    .maincontainerthree{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 95.3%;
        margin-top: 3vw;
    }
    hr{
        display: none;
    }
    .skills{
        margin: 0;
        border-bottom: 1px solid black;
        width: 100%;
        margin-left: 6vw;
    }

    .technicalskill{
        margin: 0;
        margin-top: 3vw;
        width: 100%;
    }

    .technicalhead{
        margin-left: 5vw;
    }

    .tech{
        margin-left: 6vw;
    }
}


/* added responsiveness  from 640 to 912 */

@media screen and (min-width:640px) and (max-width:912px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* added for head */

    .picturename{
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }
    .picture{
        margin: 0;
        padding: 0;
        margin-left: 1rem;
    }
    .name{
        margin: 0;
        padding: 0;
        margin-left: 7rem;
        width: 55vw;
    }
    .name h1{
        font-size: 4vw;
    }
    .name p{
        font-size: 2vw;
    }

    /* added for body  */

    .fathercontainer{
        display: flex;
        flex-wrap:wrap;
        margin: 0;
        padding: 0;
        justify-content: center;
        border-right: 2px solid black;
        border-left: 2px solid black;
        margin-left: 8vw;
        margin-right: 8vw;
    }

    /* for personal details and language  */

    .maincontainerone{
        margin: 0;
        padding: 0;
        border: none;
        width: 76.3%;
    }

    .contacts{
        margin: 0;
        padding: 0;
    }

    .details{
        margin: 0;
        padding: 0;
    }

    .language{
        margin: 0;
        padding: 0;
        border-bottom: 1px solid black;
    }

    .lang{
        margin: 0;
        margin-top: 4vw;
    }

    /* for profile education and project  */

    .maincontainertwo{
        margin: 0;
        padding: 0;
        border: none;
        width: 76.3%;
        margin-top: 3vw;
    }

    .containerone{
        margin: 0;
        padding: 0;
    }

    .profile{
        padding: 0;
        margin: 0;
        width: 100%;
        border-bottom: 1px solid black;
    }
    .profilecontent{
        text-align: justify;
        margin: 0;
        padding: 0;
    }

    .subcontainerone{
        margin-left: 4vw;
    }
    .projecthead{
        margin: 0;
    }

    .project{
        border-bottom: 1px solid black;
    }
    /* for skills */


    .maincontainerthree{
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
        width: 76.3%;
        margin-top: 3vw;
    }
    hr{
        display: none;
    }

    .containertwo{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .programming{
        margin-left: 4vw;
    }
    .skills{
        border-bottom: 1px solid black;
    }

    .technicalskill{
        margin-top: 3vw;
    }
    .tech{
        margin-left: 4vw;
    }
}
