/* for screen 376 in mobile */
@media screen and (max-width:376px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* added for header */
    .picturename{
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }
    .name{
        margin: 0;
        margin-left: 30px;
        width: fit-content;
    }
    .picture{
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
    .name h1{
        font-size: 5.5vw;
    }
    .name p{
        font-size: 4vw;
    }
    img{
        padding: 0;
        width: 95px;
        height: 120px;
        padding-top: 10px;
        padding-right: 3px;
    }
    
    /* added for body */
    .fathercontainer{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        border-left: 2px solid black;
        margin-left: 2vw;
    }
    .maincontainerone{
        padding: 0;
        margin: 0;
        border: none;
    }
    .contacts{
        margin-left: 4vw;
        border: none;
        border-bottom: 1px solid black;
    }
    .subcontainer{
        margin: 0;
        margin-left: 2vw;
        width: ;
    }
    .language{
        margin-left: 4vw;
        border-bottom: 1px solid black;
    }
    .langgroup{
        margin-left: 4vw;
    }
    .english{
        margin-left: 10vw;
    }
    .bhojpuri{
        margin-left: 10vw;
    }
    .maincontainertwo{
        width: fit-content;
        border: none;
        margin: 0;
        margin-top: 8vw;
        margin-left: 4vw;
    }
    .containerone{
        margin: 0;
        border-bottom: 1px solid black;
    }
    .profile{
        border-bottom: 1px solid black;
    }
    .profilecontent{
        margin: 0;
        margin-bottom: 3vw;
    }
    .educationthird{
        margin-bottom: 3vw;
    }
    .subcontainerone{
        margin-left: 7vw;
    }
    .projecthead{
        margin-top: 0;
    }
    .projectthree{
        margin-bottom: 3vw;
    }
    .maincontainerthree{
        display: flex;
        flex-wrap: wrap;
        margin-top: 6vw;
    }
    hr{
        display: none;
    }
    .skills{
        border-bottom: 1px solid black;
        width: 100%;
    }
    .skillhead{
        margin-left: 7vw;
    }
    .programming{
        margin-left: 7vw;
    }
    .skillfive{
        margin-bottom: 3vw;
    }
    .technicalhead{
        margin-top: 5vw;
        margin-left: 7vw;
    }
    .tech{
        margin-left: 7vw;
    }
}


@media screen and (min-width:391px) and (max-width:500px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* added for header */
    .picturename{
        width: 100%;
        display: flex;
        margin: 0;
        margin-top: 20px;
    }
    .name{
        margin: 0;
        padding: 0;
        width: 60vw;
        margin-left: 20px;
        border-bottom: 1px solid red;
    }
    .name h1{
        font-size: 5vw;
    }
    .name p{
        font-size: 3.2vw;
    }
    .picture{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin-left: 10px;
    }
    img{
        margin: 0;
        padding: 0;
        width: 100px;
        height: 110px;
        padding-top: 11px;
    }
    /* added for body */
    .fathercontainer{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        border-left: 2px solid black;
        margin-left: 2vw;
    }
    .maincontainerone{
        padding: 0;
        margin: 0;
        border: none;
    }
    .contacts{
        margin-left: 4vw;
        border: none;
        border-bottom: 1px solid black;
    }
    .language{
        margin-left: 4vw;
        border-bottom: 1px solid black;
    }
    .langgroup{
        margin-left: 4vw;
    }
    .english{
        margin-left: 10vw;
    }
    .bhojpuri{
        margin-left: 10vw;
    }
    .maincontainertwo{
        width: fit-content;
        border: none;
        margin: 0;
        margin-top: 8vw;
        margin-left: 4vw;
    }
    .containerone{
        margin: 0;
        border-bottom: 1px solid black;
    }
    .profile{
        border-bottom: 1px solid black;
    }
    .profilecontent{
        margin: 0;
        margin-bottom: 3vw;
    }
    .educationthird{
        margin-bottom: 3vw;
    }
    .subcontainerone{
        margin-left: 7vw;
    }
    .projecthead{
        margin-top: 0;
    }
    .projectthree{
        margin-bottom: 3vw;
    }
    .maincontainerthree{
        display: flex;
        flex-wrap: wrap;
        margin-top: 6vw;
    }
    hr{
        display: none;
    }
    .skills{
        border-bottom: 1px solid black;
        width: 100%;
    }
    .skillhead{
        margin-left: 7vw;
    }
    .programming{
        margin-left: 7vw;
    }
    .skillfive{
        margin-bottom: 3vw;
    }
    .technicalhead{
        margin-top: 5vw;
        margin-left: 7vw;
    }
    .tech{
        margin-left: 7vw;
    }
}




/* adding responsiveness from width 415 to 560 */
@media screen and (min-width:415px) and (max-width:560px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .picturename{
        margin: 0;
        padding: 0;
        display: flex;
        margin-top: 20px;
    }
    .picture{
        margin: 0;
        padding: 0;
        width: 150px;
        height: 150px;
    }
    .name{
        margin: 0;
        padding: 0;
        margin-left: 30px;
        width: 62vw;
    }
    .name h1{
        font-size: 5vw;
    }
    .name p{
        font-size: 3vw;
    }
    img{
        width: 150px;
        height: 200px;
        padding:0;
        padding-top: 12px;
    }

}





/* adding responsiveness from width 560 to 769 */

@media screen and (min-width: 560px) and (max-width:767px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .picturename{
        padding:0;
        margin: 0;
        display: flex;
        margin-top: 1rem;
    }
    .picture{
        padding: 0;
        margin: 0;
        width: 150px;
        height: 150px;
        margin-left: 2vw;
    }
    .name{
        padding: 0;
        margin: 0;
        width: 60vw;
        margin-left: 11vw;
    }
    img{
        padding: 0;
        height: 12.8rem;
        padding-top: .9rem;
        padding-right: 10px;
    }
    .name h1{
        font-size: 2rem;
    }
    .name p{
        font-size: 1.25rem;
    }
}





/* added responsiveness from width 767 to 912 */

@media screen and (min-width:767px) and (max-width:912px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* added for head */

    .picturename{
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }
    .picture{
        margin: 0;
        padding: 0;
        margin-left: 1rem;
    }
    .name{
        margin: 0;
        padding: 0;
        margin-left: 7rem;
        width: 55vw;
    }
    .name h1{
        font-size: 4vw;
    }
    .name p{
        font-size: 2vw;
    }

    /* added for body  */

    .fathercontainer{
        display: flex;
        flex-wrap:wrap;
        margin: 0;
        padding: 0;
        justify-content: center;
        border-right: 2px solid black;
        border-left: 2px solid black;
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .maincontainerone{
        border: none;
    }
    .language{
        border-bottom: 1px solid black;
    }
    .maincontainertwo{
        border: none;
        width: 100%;
        margin-left: 11.21vw;
        margin-right: 11.2vw;
        margin-top: 2vw;
        border-bottom: 1px solid black;
    }
    .subcontainerone{
        margin-left: 3vw;
    }
    .maincontainerthree{
        display: flex;
        margin: 0;
        padding: 0;
        border: none;
        margin-top: 5vw;
    }
    hr{
        display: none;
    }
    .technicalskill{
        margin-left: 10vw;
    }
}
